{% extends "caverne/layout.html" %}
{% load static %}
{% block staticfiles %}
    <link rel="stylesheet" href="{% static 'caverne/css/search.css' %}">
{% endblock %}
{% block titre %}{{ q }} - {% endblock titre %}
{% block main %}
    {% if fichiers %}
        <div class="fichier-list">
            {% for fichier in fichiers %}
                {% include "caverne/partials/card.html" %}
            {% endfor %}
        </div>
    {% else %}
        <h3>Il n'y a pas de résultats pour "{{ q }}"</h3>
        <p>Faites attention à l'orthographe!</p>
    {% endif %}
{% endblock %}