{% extends "caverne/layout.html" %}
{% block titre %}{{ q }} - {% endblock titre %}
{% block main %}
    {% if fichiers %}
        <ul class="list-group">
            {% for fichier in fichiers %}
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    {{ fichier.name }}
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <h3>Il n'y a pas de résultats pour "{{ q }}"</h3>
        <p>Faites attention à l'orthographe!</p>
    {% endif %}
{% endblock %}