{% extends 'caverne/layout.html' %} 
{% block staticfiles %}
{% load static %}
<link rel="stylesheet" href="{% static 'caverne/css/upload.css' %}">
{% endblock %}
{% block main %}
<form action="{% url 'upload' %}" method="post" enctype="multipart/form-data">
    {% csrf_token %} {% for field in form %}
    <div>
        {% if field == form.file %}
        <div id="file-field">
            <div id="drop-area">Choisissez votre fichier {{field}}</div>
        </div>
        {% else %}
        <div class="other-field">
            <label for="{{ field.id_for_label }}">{{ field.label }}</label>
            {{ field }}
        </div>
        {% endif %}
    </div>
    {% endfor %}
    <button type="submit">Submit</button>
</form>
{% block script %}
<script src="{% static 'caverne/js/upload.js' %}"></script>
{% endblock %}
{{ form.errors }} {% endblock %}
