{% extends 'caverne/layout.html' %}
{% load static %}
{% block staticfiles %}
    <link rel="stylesheet" href="{% static 'caverne/css/upload.css' %}" />
{% endblock %}
{% block titre %}Partager un document -{% endblock %}
{% block main %}
    <form action="{% url 'upload' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {% for field in form %}
            <div>
                {% if field == form.file %}
                    <div id="file-field">
                        <div id="drop-area">
                            <label for="{{ field.id_for_label }}">
                                Choisissez votre fichier
                            </label>
                            <span class="small-text">ou glissez-le</span>
                            {{ field }}
                        </div>
                    </div>
                {% else %}
                    <div class="other-field">
                        {{ field.label_tag }}
                        {{ field }}
                    </div>
                {% endif %}
            </div>
        {% endfor %}
        <button type="submit" id="submit-button">Submit</button>
    </form>
    {{ form.errors }}
{% endblock %}
{% block script %}
    <script src="{% static 'caverne/js/upload.js' %}"></script>
{% endblock %}
