{% extends 'caverne/layout.html' %}
{% block titre %} Connexion -{% endblock %}

{% block main %}
{% if messages %}
    {% for message in messages %}
        {% if message.tags == 'success' %}
            <div class="alert alert-success" role="alert">
                {{ message }}
            </div>
        {% elif message.tags == 'error' %}
            <div class="alert alert-danger" role="alert">
                {{ message }}
            </div>
        {% endif %}
    {% endfor %}
{% endif %}


{% if status %}
    {% if status == 1 %}
        <div class="alert alert-success" role="alert">
            Vous pouvez maintenant accéder aux trésors de la caverne :)
        </div>
    {% elif status == 2 %}
        <div class="alert alert-danger" role="alert">
            Ce lien est expiré. Appuyez <a href="{{ link.protocol }}://{{ link.domain }}{% url 'send_verification' user=link.uid %}">ici</a> pour en recevoir un autre.
        </div>
    {% elif status == 3 %}
        <div class="alert alert-danger" role="alert">
            Ce lien est invalide...
        </div>
    {% endif %}
{% endif %}
{% endblock %}